.burgerMenuIcon {
    margin-right: auto;
    cursor: pointer;
}


.header {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(29, 33, 38, 0.13), 0px 0px 2px rgba(29, 33, 38, 0.1);
    width: 100%;
    display: flex;
    padding: 17px 70px 14px 70px;
}

.header h1 {
    margin-left: auto;
}